Chapter 21
# 用列表构造多层列标签
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 示例数据
data = np.random.randint(0,9,size=(8,4))

In [4]:
# 创建两层列标签列表
col_arrays = [['A',  'A',  'B',  'B'], ['X1', 'X2', 'X3', 'X4']]

In [5]:
# 创建两层列索引
multi_col = pd.MultiIndex.from_arrays(col_arrays, names=['I','II'])

In [6]:
# 创建DataFrame
df = pd.DataFrame(data, columns=multi_col)
df

I   A     B
II X1 X2 X3 X4
0   4  7  6  3
1   7  1  3  3
2   1  6  0  5
3   3  1  5  5
4   6  0  6  1
5   7  4  3  0
6   3  1  8  1
7   8  4  8  0