Chapter 22
# 利用merge() 完成左侧独有、右侧独有、全外独有
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [2]:
import pandas as pd

In [6]:
# 创建两个数据帧
left_data = {'M': [1, 2, 3], 'X': ['a', 'b', 'c']}
left_df = pd.DataFrame(left_data)
left_df

   M  X
0  1  a
1  2  b
2  3  c

In [7]:
right_data = {'X': ['b', 'c', 'd'],'N': [ 22,  33,  44]}
right_df = pd.DataFrame(right_data)
right_df

   X   N
0  b  22
1  c  33
2  d  44

In [8]:
# LEFT EXCLUSIVE
left_exl = left_df.merge(right_df, on='X', how='left', indicator=True)

In [9]:
left_exl = left_exl[left_exl['_merge'] == 'left_only'].drop(columns=['_merge'])
left_exl

   M  X   N
0  1  a NaN

In [10]:
# RIGHT EXCLUSIVE
right_exl = left_df.merge(right_df, on='X', how='right', indicator=True)

In [11]:
right_exl = right_exl[right_exl['_merge'] == 'right_only'].drop(columns=['_merge'])
right_exl

    M  X   N
2 NaN  d  44

In [12]:
# FULL OUTER EXCLUSIVE
outer_exl = left_df.merge(right_df, on='X', how='outer', indicator=True)

In [13]:
outer_exl = outer_exl[outer_exl['_merge'] != 'both'].drop(columns=['_merge'])
outer_exl

     M  X     N
0  1.0  a   NaN
3  NaN  d  44.0