Chapter 19
# 利用pandas_datareader从FRED下载数据
Book_1《编程不难》 | 鸢尾花书：从加减乘除到机器学习

In [1]:
# 导入包
import pandas_datareader as pdr
# 需要安装 pip install pandas-datareader
import pandas as pd
import datetime

In [2]:
# 从FRED下载标普500 (S&P 500)
start_date = datetime.datetime(2014, 1, 1)
end_date   = datetime.datetime(2022, 12, 31)

In [3]:
# 下载数据
ticker_list = ['SP500']
df = pdr.DataReader(ticker_list, 'fred', start_date, end_date)

In [4]:
df.head()

              SP500
DATE
2014-12-08  2060.31
2014-12-09  2059.82
2014-12-10  2026.14
2014-12-11  2035.33
2014-12-12  2002.33